<h1 class="text-4xl font-extrabold uppercase">AttributeBinding works!</h1>

<div class="my-8">
  <h3 class="text-2xl">AttributeBinding example</h3>
  <ul class="ml-12 list-disc">
    <li>
      <p class="mt-4">
        This is a way to bind data between the component and the view.
      </p>
    </li>
    <li>
      <p class="mt-2">
        Allows us to communicate with data between component and the view.
      </p>
    </li>
    <li>
      <p class="mt-2">
        This is a type of <span class="font-bold">"One-Way Data Binding"</span>.
      </p>
    </li>
    <li>
      <p class="mt-2">
        The data flows from the
        <span class="font-bold">"Component to the View"</span>.
      </p>
    </li>
    <li>
      <p class="mt-2">Any HTML attribute can be used for "AttributeBinding".</p>
    </li>
    <li>
      <p class="mt-2">
        In order to use AttributeBinding we need to use "[attr.arrtibute_name]"
        brackets on the property.
      </p>
    </li>
    <li>
      <p class="mt-2">
        This can be used to create custom attributes/properties for an HTML
        element.
      </p>
    </li>
    <li>
      <p class="mt-2 font-bold">Eg: -</p>
      <a class="mt-2" [attr.data-link]="link">
        This has a new property/attribute called "data-link" added to it.
      </a>
    </li>
  </ul>
</div>
