<h1 class="text-4xl font-extrabold uppercase">QueryParams works!</h1>

<div class="my-8">
  <h3 class="text-2xl">QueryParams</h3>
  <ul class="ml-12 list-disc">
    <li>
      <p class="mt-4">We can send some query params in our routes.</p>
    </li>
    <li>
      <p class="mt-2"><strong>Eg: -</strong></p>
      <p class="mt-2">/product?search=20&limit=10</p>
    </li>
    <li>
      <p class="mt-2">
        We can then read these query params in the component class and process
        them by subscribing the queryParams.
      </p>
    </li>
    <li>
      <p class="mt-2">
        Mostly used for searching, filtering, querying data etc.
      </p>
    </li>
    <li>
      <p class="mt-2"><strong>Eg: -</strong></p>
      <p class="mt-2">This "id: {{ id }}" is coming from the query param.</p>
    </li>
    <li>
      <p class="mt-2">We can access multiple query params from the URL.</p>
    </li>
  </ul>
</div>
