<h1 class="text-4xl font-extrabold uppercase">LazyLoading works!</h1>

<div class="my-8">
  <h3 class="text-2xl">LazyLoading</h3>
  <ul class="ml-12 list-disc">
    <li>
      <p class="mt-4">
        By default the modules are eagerly loaded. Which means as soon as the
        application is loaded all the modules get loaded.
      </p>
    </li>
    <li>
      <p class="mt-2">
        Loading all the modules eagerly, will make the application slow in
        performance.
      </p>
    </li>
    <li>
      <p class="mt-2">
        Lazyloading loads only the modules which are absolutely necessary, and
        rest we will load based on users interaction.
      </p>
    </li>
    <li>
      <p class="mt-2">
        It helps us to decrease the application build size which in turn
        decreases the load times.
      </p>
    </li>
    <li>
      <p class="mt-2">
        <strong> Syntax: -</strong> ng g module modules/lazyLoading --module app
        --route lazyLoading
      </p>
    </li>
  </ul>
</div>
