<h1 class="text-4xl font-extrabold uppercase">Databinding works!</h1>

<div class="my-8">
  <h3 class="text-2xl">DataBinding</h3>
  <ul class="ml-12 list-disc">
    <li>
      <p class="mt-4">
        This is a way to bind data between the component and the view.
      </p>
    </li>
    <li>
      <p class="mt-2">
        Allows us to communicate with data between component and the view.
      </p>
    </li>
    <li>
      <p class="mt-2">There are two types of DataBinding: -</p>
      <ul class="ml-12 list-decimal">
        <li>
          <p class="mt-2 font-bold">
            One-Way DataBinding (Data flows only in one way)
          </p>
          <ul class="ml-12 list-disc">
            <li>
              <p class="mt-2">Component To View</p>
              <ul class="ml-12 list-decimal">
                <li>
                  <p class="mt-2">Interpolation</p>
                </li>
                <li>
                  <p class="mt-2">Property Binding</p>
                </li>
                <li>
                  <p class="mt-2">Style Binding</p>
                </li>
                <li>
                  <p class="mt-2">Attribute Binding</p>
                </li>
              </ul>
            </li>
            <li>
              <p class="mt-2">View To Component</p>
              <ul class="ml-12 list-decimal">
                <li>
                  <p class="mt-2">Event Binding</p>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li>
          <p class="mt-2 font-bold">
            Two-Way DataBinding (Data flows in both ways)
          </p>
          <ul class="ml-12 list-disc">
            <li>
              <p class="mt-2">ngModel Binding ([(ngModel)])</p>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</div>
