<h1 class="text-4xl font-extrabold uppercase">BaseHref works!</h1>

<div class="mt-8">
  <h3 class="text-2xl">BaseHref</h3>
  <ul class="ml-12 list-disc">
    <li>
      <p class="mt-4">It is mandatory for every Angular application.</p>
    </li>
    <li>
      <p class="mt-2">The default base Href is "/" i.e. is the root folder.</p>
    </li>
    <li>
      <p class="mt-2">
        The BaseHref is present in the index.html file for all the angular
        applications.
      </p>
    </li>
    <li>
      <p class="mt-2">Syntax: - <strong>base href="/"</strong></p>
    </li>
    <li>
      <p class="mt-2">Important for deploying your angular application.</p>
    </li>
  </ul>
</div>
